NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"

# Card provider switch: 'marqeta' | 'clowd9'
CARD_PROVIDER=clowd9

# Marqeta
MARQETA_TIMEOUT_SECONDS=3000

# Clowd9 (UAT non-production)
CLOWD9_KEY=PhFZKITkJhggblelFwytWzMcbnhnYikJ
CLOWD9_SECRET=YvJTzPgpySidwVXCDOgxalDXKAPdZhRD
CLOWD9_PRODUCT_ID=05a06e29-b2f2-44ac-b04e-190bdc1730ac
CLOWD9_CLIENT_ID=a7d8c4b8-4e75-4fbc-bafa-e7459cfbe982
CLOWD9_CARD_MANUFACTURER_ID=dd8d2f7d-3004-4927-b1bc-27926dfca499
CLOWD9_TIMEOUT_SECONDS=5000
